ozon/0ozon.html
ozon/1ozon.html
ozon/2ozon.html
ozon/3ozon.html
ozon/4ozon.html
ozon/5ozon.html
ozon/6ozon.html
ozon/7ozon.html
yandex/0yandex.html
yandex/1yandex.html
yandex/2yandex.html
yandex/3yandex.html
yandex/4yandex.html
yandex/5yandex.html
yandex/6yandex.html
yandex/7yandex.html
yandex/8yandex.html
yandex/9yandex.html
chromedriver
ozon.html
yandex.html
.env
.idea

